<%= form_for @passwordstate_server, :url => (@passwordstate_server.new_record? ? passwordstate_servers_path : passwordstate_server_path(name: @passwordstate_server.name)), html: {data: {id: @passwordstate_server.try(:id)}} do |f| %>
  <%= base_errors_for @passwordstate_server %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Server') %></a></li>
    <% if show_location_tab? %>
      <li><a href="#locations" data-toggle="tab"><%= _('Locations') %></a></li>
    <% end %>
    <% if show_organization_tab? %>
      <li><a href="#organizations" data-toggle="tab"><%= _('Organizations') %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :url, placeholder: 'https://passwordstate.example.com' %>
      <%= textarea_f f, :description, :rows => 3 %>
      <%= field f, :api_type, label: _('Authorization Method'), required: true, size: 'col-md-10' do
        [
          radio_button_f(f, :api_type, value: :winapi, text: 'Username + Password'),
          radio_button_f(f, :api_type, value: :api, text: 'API Key')
        ].join(' ').html_safe
      end %>

      <div id="winapi">
        <%= text_f f, :user, required: true %>
        <%= password_f f, :password, required: true %>
      </div>
      <div id="api">
        <%= password_f f, :password, required: true %>
      </div>

      <%= link_to_function _("Test Connection"), "testConnection(this)", :class => "btn #{@passwordstate_server.test_connection.is_a?(FalseClass) ? "btn-default" : "btn-success"}", :'data-url' => test_connection_passwordstate_servers_path %>
    </div>
    <%#= render 'taxonomies/loc_org_tabs', :f => f, :obj => @wds_server %>
  </div>

  <%= submit_or_cancel f %>
<% end %>

