<% title @passwordstate_server.name %>
<% title_actions \
  link_to_if_authorized(_('Edit'), hash_for_edit_passwordstate_server_path(@passwordstate_server).merge(:auth_object => @passwordstate_server), class: 'btn btn-default') %>
<% javascript 'foreman_passwordstate/passwordstate_servers' %>

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#primary" data-toggle="tab"><%= _('Passwordstate Server') %></a></li>
  <li><a href="#folders" data-toggle="tab"><%= _('Folders') %></a></li>
  <li><a href="#password-lists" data-toggle="tab"><%= _('Password lists') %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="primary">
    <table class="<%= table_css_classes 'table-fixed' %>">
      <thead>
        <tr>
          <th class="col-md-1"><%= _('Property') %></th>
          <th class="col-md-11"><%= _('Value') %></th>
        </tr>
      </thead>
      <tbody>
        <%- unless @passwordstate_server.description.empty? -%>
        <tr>
          <td><%= _('Description') %></td>
          <td><%= @passwordstate_server.description %></td>
        </tr>
        <%- end -%>
        <tr>
          <td><%= _('Url') %></td>
          <td><a href="<%= @passwordstate_server.url %>"><%= @passwordstate_server.url %></a></td>
        </tr>
        <tr>
          <td><%= _('Version') %></td>
          <td><%= @passwordstate_server.version rescue 'N/A' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="folders">
    <table class="<%= table_css_classes 'table-fixed' %>">
      <thead>
        <tr>
          <th class="col-md-1"><%= _('Name') %></th>
          <th class="col-md-2"><%= _('Path') %></th>
          <th class="col-md-9"><%= _('Description') %></th>
        </tr>
      </thead>
      <tbody>
        <%-
          begin
            #@passwordstate_server.folders
            []
          rescue
            []
          end.each do |folder|
        -%>
        <tr>
          <td><%= folder.folder_name %></td>
          <td><%= folder.full_path(true) %></td>
          <td><%= folder.description %></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="password-lists">
    <table class="<%= table_css_classes 'table-fixed' %>">
      <thead>
        <tr>
          <th class="col-md-2"><%= _('Name') %></th>
          <th class="col-md-3"><%= _('Full Path') %></th>
          <th class="col-md-7"><%= _('Description') %></th>
        </tr>
      </thead>
      <tbody>
      <%- @passwordstate_server.password_lists.each do |list| -%>
        <tr>
          <td><%= list.password_list %></td>
          <td><a href="<%= @passwordstate_server.get_list_url(list)  %>" target="_blank"><%= list.full_path(unix: true) %></a></td>
          <td><%= list.description %></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
